.modal {
    position: fixed;
    top: 40%;
    left: 50%;
    width: 375px;
    height: 55vh;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transform: translate(-50%, -50%);
}

.controls {
    position: absolute;
    bottom: 30px;
    display: flex;
    gap: 20px;
    justify-content: center;
    width: 100%;
}

button {
    padding: 1 rem;
    background-color: #ffca28;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

