.container {
  display: flex;
  flex-direction: column;
  background-color: #1F1C2C;
  height: 100vh;
  color: white;
  padding: 20px;
  box-sizing: border-box;
  padding-top: 62px;
}

.groupName {
  font-size: 14px;
  text-align: center ;
  font-weight: bold;
}

.groupIcon {
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 50%;
  margin: 1.5rem auto 0.3rem;
  display: block;
}

.groupIcon:hover {
  cursor: pointer;
}

.headerWrapper {
  position: relative;
  z-index: 10;
  background-color: #1F1C2C;
}
  
.header {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
}

.backButton {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-162.5px);
  height: 90px;
  background: none;
  border: none;
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
}

.backButton:hover {
  color: #ffca28; 
}

.fab {
  position: absolute;
  bottom: 24px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffca28;
  color: #000;
  font-size: 64px;
  border: none;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  cursor: pointer;
  z-index: 100;
}

.fabContainer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  }

.scrollArea {
  flex: 1;
  overflow-y: auto;
  padding-bottom: 100px;
  margin-top: 10px;
  margin-bottom: 100px;
}

.billItem {
  display: flex;
  width: 100%;
  height: 50px;
  font-size: 14px;
  align-items: center;
  border: none;
  padding: 0 10px;
  border-radius: 0;
  background-color: #5B566A;
  box-sizing: border-box;
  border-bottom: 1px solid #9E9E9E;
  margin-top: 0; 
  margin-bottom: 0;
}

.billIcon {
  width: 32px;
  height: 32px;
  margin-right: 10px;
}

.billContent {
  flex: 1;
}

.billTextRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.billNote {
  font-size: 14px;
  color: white;
}

.billAmount {
  font-size: 14px;
  color: white;
}

.billDateTitle {
  font-size: 12px;
  font-weight: bold;
  color: white;
  margin: 18px 0 1px 0;
  text-align: left; 
}

.billGroup {
  width: 325px;
  margin: 0 auto;
}

.billListContainer {
  background-color: #5B566A;
  border: 1px solid #9E9E9E;
  border-radius: 6px;
  overflow: hidden;
  width: 325px;
  margin: 0 auto;
}

.billItem:last-child {
  border-bottom: none;
}
  
.tabContainer {
  display: flex;
  justify-content: center;
  width: 325px;
  height: 50px;
  margin: 10px auto;
  margin-top: 10px;
  margin-bottom: 2px;
  background-color: #5B566A;
  border: 1px solid #9E9E9E;
  border-radius: 6px;
  overflow: hidden;
}
  
.tabButton {
  flex: 1;
  background-color: transparent;
  color: white;
  border: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
  height: 100%;
}

.tabButton:first-child {
  border-radius: 6px 0 0 6px;
}

.tabButton:last-child {
  border-radius: 0 6px 6px 0;
}

.activeTab {
  background-color: #ffca28;
  color: black;
  font-weight: bold;
}

.memberSection {
  margin-top: 30px;
}

.memberBlock {
  margin-top: 0;
  margin-bottom: 20px;
}

.memberName {
  margin-bottom: 10px;
  font-weight: bold;
}
  
.memberList {
  list-style-type: none;
  padding: 0;
  background-color: #5B566A;
  border: 1px solid #9E9E9E;
  border-bottom: none;
  border-radius: 6px;
  overflow: hidden;
  width: 325px;
  margin: 0 auto;
}

.memberItem {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  font-size: 14px;
  font-weight: bold;
  align-items: center;
  border: none;
  padding: 0 10px;
  border-radius: 0;
  background-color: #5B566A;
  box-sizing: border-box;
  border-bottom: 1px solid #9E9E9E;
  margin-top: 0; 
  margin-bottom: 0;
}

.groupBalanceTitle {
  font-size: 12px;
  text-align: center ;
  font-weight: bold;
  color: white;
  margin-bottom: 0;
}

.highlightedItem {
  background-color: #ccc;
  color: white;
  padding: 5px 10px;
  border-radius: 8px;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.memberNameRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  font-weight: bold;
  width: 325px;
  margin: 0 auto;
}

.memberNameLeft {
  font-size: 12px;
  color: #9e9e9e;
}

.memberNameRight {
  font-size: 16px;
  font-weight: bold;
}

.totalOwedRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  padding: 0 10px;
}

.expensesHeader {
  width: 325px;
  margin: 0 auto;
  margin-top: 0px;
  align-items: center;
  padding: 0 10px;
}

.expensesHeaderRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #9E9E9E;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 0;
}

.expensesAmountRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 0;
}

.billGroup ul {
  padding: 0;
  margin: 0;
}

.confirmActions {
  margin-top: 10px;
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

.okButton {
  display: flex;
  background-color: #ef5780;
  color: white;
  width: 70px;
  height: 35px;
  font-size: 16px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 6px 16px;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 10px;
}

.cancelButton {
  display: flex;
  background-color: #5B566A;
  color: white;
  width: 70px;
  height: 35px;
  font-size: 16px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 6px 16px;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 10px;
}

.balanceDetailBox {
  background-color: #9e9e9e;
  justify-content: center;
  padding: 0 10px;
  border-radius: 6px;
  position: relative;
  color: white;
  height: 50px;
}

.balanceLineTop {
  font-size: 12px;
  text-align: center;
  line-height: 1;
  font-weight: bold;
  margin-bottom: 4px;
  position: relative;
  padding-top: 5px;
}

.balanceLineTop .balanceCloseBtn {
  position: absolute;
  right: 0;
  top: 0;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}
  
.balanceLineBottom {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.balanceTopText {
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  width: 100%;
  display: block;
  padding-top: 5px;
}

.balanceAmount {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.markPaidText {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  font-size: 16px;
  color: #5B566A;
  font-weight: bold;
  background: none;
  border: none;
  cursor: pointer;
}

.greenText {
  color: #04BF8A;
}

.redText {
  color: #EF5780;
}

.emptyMessage {
  color: #9e9e9e;
  font-size: 12px;
  text-align: center;
  font-weight: bold;
  width: 325px;
  margin: 20px auto;
}

.rowLayout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 325px;
  margin: 10px auto;
}

.balanceDetailBox.confirming {
  height: 100px;
  overflow: hidden;
}

.confirmRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
  gap: 10px;
}

.confirmText {
  color: #5B566A;
  font-size: 14px;
  text-align: center;
  justify-content: center;
}
