.container {
  background-color: #1c1829;
  min-height: 100vh;
  padding: 2rem 1rem;
  color: white;
  position: relative;
  max-width: 390px;
  margin: 0 auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); 
  border-radius: 20px;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.5rem;
}

.avatar {
  width: 90px;
  height: 90px;
  margin-top: 1rem;
  border-radius: 50%;
}

.name {
  margin-top: 0.1rem;
  font-weight: bold;
  font-size: 1rem;
}

.groupListContainer {
  width: 326px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.groupCard:hover {
  background-color: #3e3455;
}

.groupIcon {
  font-size: 1.5rem;
}

.groupName {
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
}

.fab {
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffca28;
  color: #000;
  font-size: 2rem;
  border: none;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.options {
  position: fixed;
  bottom: 110px;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  color: #333;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0;
  cursor: pointer;
}
