:root {
  --yellow: #fbc609;
  --bg-dark: #242424;
  --text-white: #ffffff;
}

.landingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  background-image: url("/images/landing-background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--text-white);
  padding: 3rem 2rem 2.5rem 2rem;
}

.logoImage {
  height: 1.5em;
  width: auto;
  vertical-align: baseline;
  display: inline-block;
}

.landingHeader {
  text-align: center;
  margin-bottom: 4rem;
}

.landingSubtitle {
  color: var(--yellow);
  font-size: 1rem;
  margin-bottom: -1rem;
}

.landingTitle {
  font-size: 2.5rem;
  margin-top: 0.5rem;
}

.titleYellow {
  color: var(--yellow);
}

.titleWhite {
  color: var(--text-white);
}

.smallRight {
  font-size: 1rem;
  margin-left: 0.5rem;
  position: relative;
  top: -1.2em;
}

.landingButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}

.loginBtn {
  background-color: var(--yellow);
  color: black;
}

.loginBtn:hover {
  background-color: rgba(251, 198, 9, 0.8);
}

.signupBtn {
  background-color: transparent;
  color: var(--text-white);
  border: 1px solid var(--text-white);
}

.signupBtn:hover {
  background-color: var(--text-white);
  color: black;
}

/* Media Queries for responsiveness */
@media (max-width: 360px) {
  .landingTitle {
    font-size: 2rem;
  }

  .landingSubtitle {
    font-size: 0.9rem;
  }

  .landingContainer {
    padding: 2.7rem 1.5rem 2.3rem 1.5rem;
  }
}

@media (min-width: 768px) {
  .landingTitle {
    font-size: 3rem;
  }

  .landingSubtitle {
    font-size: 1.1rem;
  }

  .landingContainer {
    padding: 3rem;
  }
}
